body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #1e202b;
}
.background {
  background-color: rgba(0, 0, 0, 0.929);
}
:root {
  --main-color: #009ad8;
}
.logo-img {
  cursor: pointer;
}
.logo-img img {
  width: 80px;
}
.logo-img p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.logo-text {
  vertical-align: middle;
}
.nav .nav-pills {
  padding-left: 600px;
}
ul {
  margin-top: 10px;
}
/* #009ad8 */
.nav-pills .nav-link.active {
  background-color: var(--main-color);
}
.nav-link {
  color: white;
}
ul li {
  margin: 5px;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--main-color);
}
.search {
  background-image: url(../img/banner.png);
  /* background-position: inherit; */
  background-repeat: space;
  background-size: cover;
  padding: 70px 0;
  min-height: 350px;
}
#search {
  padding: 15px;
  border-radius: 50px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.705);
  border: none;
}
#search:focus{
    color: white;
}
#sumbit {
  background-color: var(--main-color);
  padding: 10px 40px;
  border-radius: 50px;
  color: white;
  margin: -123px;
}
.forecast-table{
  padding-bottom: 10px;
}
.forecast-container {
  background-color: #323544;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.forecast-container .forecast {
  width: 33.33%;
}
.forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 400;
}
.forecast-container .forecast.today .forecast-header .day {
  float: left;
}
.forecast-container .forecast.today .forecast-header .date {
  float: right;
}
.forecast-container .forecast.today .forecast-content {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.forecast-contant{
  padding: 50px 20px 10px;
}
.forecast-container .forecast .location{
  font-size: 1.2rem;
font-weight: 400;
}
.forecast-container .forecast .degree{
  font-size: 1.7rem;
  font-weight: 700;
}
.forecast-container .forecast.today .degree .num, .forecast-container .forecast.today .degree .forecast-icon{
  display: inline-block;
  vertical-align: middle;
}
.forecast-container .forecast.today .degree .num{
  font-size: 4.4rem;
  margin-right: 30px;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.forecast-container .forecast.today .degree .forecast-icon {
  vertical-align: middle;
}
.custom{
  color: var(--main-color);
  font-size: 20px;
  margin: 20px;
  font-weight: 400;
}
.forecast-container .forecast.today span {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 400;
}
.forecast-container .forecast:nth-child(even) {
  background-color: #262936;
}
.forecast-container .forecast.today .forecast-header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}
.site-footer {
  background: #262936;
  padding: 50px 0;
}
.colophon{
  color: #afb1b4;
  font-weight: 400;
  padding:30px;
}
.site-footer .subcribe-form{
  position: relative;
}
.site-footer .subcribe-form input[type="text"] {
  padding: 20px 100px 20px 20px;
  background: #1e202b;
  width: 100%;
  color: white;
}
form input{
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
}
.site-footer .subcribe-form input[type="submit"]{
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  color: white;
  padding: 10px 20px;
  background-color: var(--main-color);
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-google-plus-g:before {
  content: "\f0d5";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.site-footer .social-links{
  margin-left: 127px;
}
.site-footer .social-links a i{
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #1e202b;
  color:var(--main-color);
  text-align: center;
  line-height: 2;
  transition: 0.3s ease;
  font-size: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  /* margin-left: 20px; */
}
a{
  text-decoration: none;
}
.row:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.col-md-8{
position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
}
.site-footer .social-links a i:hover{
  background-color: var(--main-color);
  color: white;
}



